.horizontal {
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.valoradas {
    display: flex;
    flex-direction: column;
}

.valoradas img {
    width: 40%;
}

.ficha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    border-bottom: #000080 1px solid;
    padding: 10px;
}

.ficha > div {
    width: 50%;
}

.ficha img {
    width: 50%;
}

figcaption > img {
    width: 70px;
    height: 70px;
}
